.footer
    .footer_logo
        img(src='img/logo-footer.png')
     .footer_contact
         p Украина, г. Житомир, площадь Станишевская, 7
         span Телефон: (0412) 34-35-61
         span Факс: (0412) 34-35-61
         span E-mail: ztkk@ztkk.net.ua


     .footer_menu#footer
         nav
            li
                a(href='#section_two') О КОМПАНИИ
             li
                 a(href='#production_item_result') УПАКОВКА ДЛЯ ЯБЛОК
             li
                 a(href='#berries') УПАКОВКА ДЛЯ ЯГОД
             li
                 a(href='#wine') УПАКОВКА ДЛЯ БУТЫЛОК
             li
                 a(href='#melon') УПАКОВКА ДЛЯ ДЫНЬ
             li
                 a(href='#other') ДРУГИЕ ВИДЫ УПАКОВКИ
             li
                 a(href='#section_contact') КОНТАКТЫ