.footer
    .footer_logo
        img(src='img/logo-footer.png')
     .footer_contact
     .footer_menu
         nav
            li
                a(href='#') О КОМПАНИИ
             li
                 a(href='#') О КОМПАНИИ
             li
                 a(href='#') О КОМПАНИИ
             li
                 a(href='#') О КОМПАНИИ