.section_four#section_four

        .block_production
            .production_item_menu
                h2 Упаковка для яблок
                p Мы первый производитель поддонов для яблок в Украине. На сегодняшний день мы производим следующие виды поддонов:
                .production_item_menu__wrapper
                    a(href='#production_item_result').production_item
                        .production_item_info
                            h5 Яблочные поддоны SMART 480х285
                            p оптимизированы для морских контейнеров
                        img(src='img/jabl1-150x150.jpg')
                    a(href='#production_item_result').production_item
                        .production_item_info
                            h5 Яблочные поддоны 500х300
                            p под «Бушель» («Телескоп»)
                        img(src='img/product_type__1_product_1-150x150.jpg')
                    a(href='#production_item_result').production_item
                        .production_item_info
                            h5 Яблочные поддоны 600х400
                            p для презентации продукции в торговых залах
                        img(src='img/product_type__1_product_3-150x150.jpg')
                    .contack_block
                         .contack_block_item
                            h5 Трокоз Дария
                            span +380 (50) 463 86 36
                            span trokoz@ztkk.net.ua
                         .contack_block_item
                            h5 Атоян Татьяна
                            span +380 (50) 313 24 48
                            span tany@ztkk.net.ua
                         .contack_block_item
                            h5 Атоян Татьяна
                            span +380 (50) 313 24 48
                            span tany@ztkk.net.ua
            .production_item_result#production_item_result
                .mask
                    .production_item_result__wrapper.smart
                        p Уникальный формат поддонов SMART разработан совместно с лидером европейского рынка упаковки яблок. За счет оптимизации размеров поддона мы получили возможность погрузить на 1 поддон больше при морской транспортировке в контейнерах
                        .table__wrapper
                            table
                                tr
                                    td № поддона
                                    td Размер ячейки, мм
                                    td Кол-во ячеек в поддоне
                                    td Кол-во поддонов в ящике
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                        .img_prod.owl-carousel
                            a.img_prod_item(href='img/27-1152x768.jpg')
                                img(src='img/27-1152x768.jpg')
                            a.img_prod_item(href='img/41-1152x768.jpg')
                                img(src='img/41-1152x768.jpg')
                            a.img_prod_item(href='img/102-1056x768.jpg')
                                img(src='img/102-1056x768.jpg')
                            a.img_prod_item(href='img/103-768x768.jpg')
                                img(src='img/103-768x768.jpg')
                            a.img_prod_item(href='img/41-1152x768.jpg')
                                img(src='img/41-1152x768.jpg')