.section_three
    .container
        h2 Наши преимущества
        .three_block__wrapper
            .three_block__item
                h4 Защита продукта
                span поддоны разработаны с целью предотвращения повреждений продуктов, их контакта между собой, а так же для безопасного контакта продукта с упаковкой. Пористость и абсорбция обеспечивают лучшее поглощение влаги и хорошую вентиляцию при хранении и транспортировке, позволяя увеличить сроки хранения и продажи продуктов.
            .three_block__item
                h4 Презентация
                span для каждого продукта имеется свое «посадочное место» и благодаря такой упаковке продукт имеет презентабельный вид и сохраняет натуральность, свежесть и целосность длительное время, может размещться даже на наклонных поверхностях.
            .three_block__item
                h4 Экономичность
                span самое оптимальное решение в сфере упаковочных материалов, так как ценовая политика выигрывает у пластиковых аналогов. При этом снижается затратная часть потерь при отбраковке и порче продуктов.
            .three_block__item
                h4 Последние
                span Можно добавлять до 4х преимуществ в данный блок. Может быть меньше 4х но не больше.
        .certificate_block.owl-carousel
            a.certificate_item(href='img/certification_1.jpg')
                img(src='img/certification_1.jpg')
            a.certificate_item(href='img/certification_2.jpg')
                img(src='img/certification_2.jpg')
            a.certificate_item(href='img/certification_3.jpg')
                img(src='img/certification_3.jpg')
            a.certificate_item(href='img/certification_4.jpg')
                img(src='img/certification_4.jpg')
            a.certificate_item(href='img/certification_5.jpg')
                img(src='img/certification_5.jpg')