.section_four

        .block_production
            .production_item_menu
                h2 Упаковка для яблок
                p Мы первый производитель поддонов для яблок в Украине. На сегодняшний день мы производим следующие виды поддонов:
                .production_item_menu__wrapper
                    a(href='#').production_item
                        .production_item_info
                            h5 Яблочные поддоны SMART 480х285
                            p оптимизированы для морских контейнеров
                        img(src='img/jabl1-150x150.jpg')
                    a(href='#').production_item
                        .production_item_info
                            h5 Яблочные поддоны 500х300
                            p под «Бушель» («Телескоп»)
                        img(src='img/product_type__1_product_1-150x150.jpg')
                    a(href='#').production_item
                        .production_item_info
                            h5 Яблочные поддоны 600х400
                            p для презентации продукции в торговых залах
                        img(src='img/product_type__1_product_3-150x150.jpg')
                    .contack_block
                         .contack_block_item
                            h5 Трокоз Дария
                            span +380 (50) 463 86 36
                            span trokoz@ztkk.net.ua
                         .contack_block_item
                            h5 Атоян Татьяна
                            span +380 (50) 313 24 48
                            span tany@ztkk.net.ua
                         .contack_block_item
                            h5 Атоян Татьяна
                            span +380 (50) 313 24 48
                            span tany@ztkk.net.ua
            .production_item_result