.section_two#section_two
    .container
        h2 Продукция
        p Торговая марка SEM — это уникальная технология производства принципиально нового, экологически чистого продукта на рынке упаковочных материалов. Наша миссия - обеспечить наших клиентов по всему миру высококачественной и экологически чистой упаковкой, гарантируя им преимущество в ценовом аспекте и быструю адаптивность к требованиям рынка.
        .section_two__wrapper
            .section_two__item
                a(href='#')
                 img(src='img/product_type__bg_1-850x400.jpg')
                 h3 Упаковка для яблок
            .section_two__item
                a(href='#')
                    img(src='img/product_type__bg_2-850x400.jpg')
                    h3 Упаковка для ягод
            .section_two__item
                a(href='#')
                    img(src='img/product_type__bg_3-850x400.jpg')
                    h3 Упаковка для бутылок
            .section_two__item
                a(href='#')
                    img(src='img/product_type__thumb_4-850x400.jpg')
                    h3 Упаковка для дынь
            .section_two__item
                a(href='#')
                    img(src='img/slide_img__1-850x400.jpg')
                    h3 Другие упаковки
