.section_first#section_first

        .section_first_wrapper
            .button_burger
                span
                span
                span
                span.temp
                span.temp1

            .top_logo
                img(src='img/logo.png')
            .left_block_wrapper.owl-carousel
                .left_block_item
                    .left_block_info
                        h2 Торговая марка SEM
                        span это уникальная  технология производства принципиально нового, экологически  чистого продукта на рынке упаковочных материалов
                        button Подробнее о продукции
                    .left_block_img
                        img(src='img/slide_img__2-1.jpg')
                .left_block_item
                    .left_block_info
                        h2 Мы поможем Вам продать больше!
                        span поддоны разработаны с целью предотвращения повреждений продуктов, их контакта между собой, а так же для безопасного контакта продукта с упаковкой
                        button Подробнее о продукции
                    .left_block_img
                        img(src='img/slider.jpg')
                .left_block_item
                    .left_block_info
                        h2 Защита продукта
                        span поддоны разработаны с целью предотвращения повреждений продуктов, их контакта между собой, а так же для безопасного контакта продукта с упаковкой
                        button Подробнее о продукции
                    .left_block_img
                        img(src='img/product_type__bg_1-1650x1080.jpg')
            .menu_right_block
                 nav#menu
                    ul
                        li.lang
                            a(href='#') RU
                            a(href='#') UA
                            a(href='#') EN
                            a(href='#') PL
                            a(href='#') TR

                        li
                            a(href='#section_two') о компании
                        li
                            a(href='#production_item_result') упаковка для яблок
                        li
                            a(href='#berries') упаковка для ягод
                        li
                            a(href='#wine') упаковка для бутылок
                        li
                            a(href='#melon') упаковка для дынь
                        li
                            a(href='#other') другие упаковки
                        li
                            a(href='#section_contact') контакты
            .menu_right_block.mobile#menu_mobile
                nav
                    ul
                        li.lang
                            a(href='#') RU
                            a(href='#') UA
                            a(href='#') EN
                            a(href='#') PL
                            a(href='#') TR

                        li
                            a(href='#section_two') о компании
                        li
                            a(href='#production_item_result') упаковка для яблок
                        li
                            a(href='#berries') упаковка для ягод
                        li
                            a(href='#wine') упаковка для бутылок
                        li
                            a(href='#melon') упаковка для дынь
                        li
                            a(href='#other') другие упаковки
                        li
                            a(href='#section_contact') контакты
        a(href='#section_first').button_scroll_top
