.section_four#section_four

        .block_production
            .production_item_menu
                h2 Упаковка для яблок
                p Мы первый производитель поддонов для яблок в Украине. На сегодняшний день мы производим следующие виды поддонов:
                .production_item_menu__wrapper
                    a(href='#production_item_result').production_item.menu_smart
                        .production_item_info
                            h5 Яблочные поддоны SMART 480х285
                            p оптимизированы для морских контейнеров
                        img(src='img/jabl1-150x150.jpg')
                    a(href='#production_item_result').production_item.menu_bushel
                        .production_item_info
                            h5 Яблочные поддоны 500х300
                            p под «Бушель» («Телескоп»)
                        img(src='img/product_type__1_product_1-150x150.jpg')
                    a(href='#production_item_result').production_item.menu_present
                        .production_item_info
                            h5 Яблочные поддоны 600х400
                            p для презентации продукции в торговых залах
                        img(src='img/product_type__1_product_3-150x150.jpg')
                    .contack_block
                         .contack_block_item
                            h5 Трокоз Дария
                            span +380 (50) 463 86 36
                            span trokoz@ztkk.net.ua
                         .contack_block_item
                            h5 Атоян Татьяна
                            span +380 (50) 313 24 48
                            span tany@ztkk.net.ua
                         .contack_block_item
                            h5 Атоян Татьяна
                            span +380 (50) 313 24 48
                            span tany@ztkk.net.ua
            .production_item_result#production_item_result
                .production_item_result__wrapper.smart
                    .production_item_result__info
                        p Уникальный формат поддонов SMART разработан совместно с лидером европейского рынка упаковки яблок. За счет оптимизации размеров поддона мы получили возможность погрузить на 1 поддон больше при морской транспортировке в контейнерах
                        .table__wrapper
                            table
                                tr
                                    td № поддона
                                    td Размер ячейки, мм
                                    td Кол-во ячеек в поддоне
                                    td Кол-во поддонов в ящике
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                    .img_prod.owl-carousel
                        a.img_prod_item(href='img/27-1152x768.jpg')
                            img(src='img/27-1152x768.jpg')
                        a.img_prod_item(href='img/41-1152x768.jpg')
                            img(src='img/41-1152x768.jpg')
                        a.img_prod_item(href='img/102-1056x768.jpg')
                            img(src='img/102-1056x768.jpg')
                        a.img_prod_item(href='img/103-768x768.jpg')
                            img(src='img/103-768x768.jpg')
                        a.img_prod_item(href='img/41-1152x768.jpg')
                            img(src='img/41-1152x768.jpg')
                .production_item_result__wrapper.bushel
                    .production_item_result__info
                        p Поддоны этого типа позволяют транспортировать яблоки в ящиках Бушель и при этом обеспечивают максимальную защиту продукта и гарантируют презентабельный вид фруктов.
                        .table__wrapper
                            table
                                tr
                                    td № поддона
                                    td Размер ячейки, мм
                                    td Кол-во ячеек в поддоне
                                    td Кол-во поддонов в ящике
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                    .img_prod.owl-carousel
                        a.img_prod_item(href='img/25-1152x768.jpg')
                            img(src='img/25-1152x768.jpg')
                        a.img_prod_item(href='img/38-1152x768.jpg')
                            img(src='img/38-1152x768.jpg')
                        a.img_prod_item(href='img/104-939x768.jpg')
                            img(src='img/104-939x768.jpg')
                        a.img_prod_item(href='img/105-1152x768.jpg')
                            img(src='img/105-1152x768.jpg')

                .production_item_result__wrapper.present
                    .production_item_result__info
                        p Поддоны разработаны по мировому стандарту для презентации продукта конечному потребителю в торговых залах. Они обеспечивают презентабильный внешний вид фруктов, длительный срок хранения и защиту продукта в местах соприкосновения с упаковкой.
                        .table__wrapper
                            table
                                tr
                                    td № поддона
                                    td Размер ячейки, мм
                                    td Кол-во ячеек в поддоне
                                    td Кол-во поддонов в ящике
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                    .img_prod.owl-carousel
                        a.img_prod_item(href='img/15-1152x768.jpg')
                            img(src='img/15-1152x768.jpg')
                        a.img_prod_item(href='img/16-1152x768.jpg')
                            img(src='img/16-1152x768.jpg')
                        a.img_prod_item(href='img/25-1152x768.jpg')
                            img(src='img/25-1152x768.jpg')
                        a.img_prod_item(href='img/41-1-1152x768.jpg')
                            img(src='img/41-1-1152x768.jpg')
         .block_production

            .production_item_result.berries#berries
                .production_item_result__wrapper
                    .production_item_result__info
                        p Поддоны разработаны по мировому стандарту для презентации продукта конечному потребителю в торговых залах. Они обеспечивают презентабильный внешний вид фруктов, длительный срок хранения и защиту продукта в местах соприкосновения с упаковкой.
                        .table__wrapper
                            table
                                tr
                                    td № поддона
                                    td Размер ячейки, мм
                                    td Кол-во ячеек в поддоне
                                    td Кол-во поддонов в ящике
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                                tr
                                    td 88
                                    td 76-83
                                    td 22
                                    td 4
                    .img_prod.owl-carousel
                        a.img_prod_item(href='img/berries/12-min-1152x768.jpg')
                            img(src='img/berries/12-min-1152x768.jpg')
                        a.img_prod_item(href='img/berries/22-1152x768.jpg')
                            img(src='img/berries/22-1152x768.jpg')
                        a.img_prod_item(href='img/berries/36-512x768.jpg')
                            img(src='img/berries/36-512x768.jpg')
                        a.img_prod_item(href='img/berries/jagodi-2-1152x768.jpg')
                            img(src='img/berries/jagodi-2-1152x768.jpg')
                        a.img_prod_item(href='img/berries/product_type__bg_2-1153x768.jpg')
                            img(src='img/berries/product_type__bg_2-1153x768.jpg')
            .production_item_menu
                .production_item_menu_info
                    h2 Упаковка для ягод
                    p Контейнер из бумажной массы, в отличие от пластиковых аналогов, обладает абсорбирующими свойствами, воздухопроницаемостью. Упаковка изготовлена из экологичных материалов, в соответствии международным стандартам FSSC 22000
                .production_item_menu__wrapper
                    a(href='#berries').production_item.menu_smart
                        .production_item_info
                            h5 Ягодные поддоны
                            p изготовлены из экологичных материалов

                        img(src='img/jagodi-1-150x150.jpg')

                .contack_block
                    .contack_block_item
                        h5 Самсонович Катерина
                        span +380 (50) 313 37 63
                        span samsonovich@ztkk.net.ua
                    .contack_block_item
                        h5 Кучинская Мария
                        span +380 (95) 283 37 87
                        span kuchinskaya@ztkk.net.ua
         .block_production
             .production_item_menu
                 .production_item_menu_info
                     h2 Упаковка для бутылок
                     p Литая тара идеально обеспечивает при транспортировке:
                      |- правильное горизонтальное хранение;
                      |- безопасность хрупкого стекла
                 .production_item_menu__wrapper
                     a(href='#wine').production_item.menu_shamp
                         .production_item_info
                             h5 Шампанские вина
                             p Тара для транспортировки вина

                         img(src='img/wine/36-min-150x150.jpg')
                     a(href='#wine').production_item.menu_burg
                             .production_item_info
                                 h5 Бургундские вина
                                 p Тара для транспортировки вина

                             img(src='img/wine/94-150x150.jpg')
                     a(href='#wine').production_item.menu_alz
                         .production_item_info
                             h5 Альзаские вина
                             p Тара для транспортировки вина

                         img(src='img/wine/section_5__product_1-150x150.jpg')
                     a(href='#wine').production_item.menu_bordo
                         .production_item_info
                             h5 Вина Бордо
                             p Тара для транспортировки вина

                         img(src='img/wine/1041-150x150.jpg')

                 .contack_block
                     .contack_block_item
                         h5 Самсонович Катерина
                         span +380 (50) 313 37 63
                         span samsonovich@ztkk.net.ua
             .production_item_result#wine
                 .production_item_result__wrapper.shamp
                     .production_item_result__info
                         p Требования к таре и процессу транспортировки вина заключаются в необходимости сохранения продукта и его главных потребительских свойств, а также возможности уменьшить транспортные расходы.
                          |При транспортировке вина в бутылках сроком доставки от 20 до 45-ти дней, бутылки размещают в горизонтальном положении, чтобы внутренняя часть пробки обязательно соприкасалась с жидкостью. Это препятствует проникновению кислорода и последующему окислению вина
                         .table__wrapper
                             table
                                 tr
                                     td № поддона
                                     td Размер ячейки, мм
                                     td Кол-во ячеек в поддоне
                                     td Кол-во поддонов в ящике
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                     .img_prod.owl-carousel
                         a.img_prod_item(href='img/wine/35-min-1152x768.jpg')
                             img(src='img/wine/35-min-1152x768.jpg')
                         a.img_prod_item(href='img/wine/36-min-1152x768.jpg')
                             img(src='img/wine/36-min-1152x768.jpg')
                         a.img_prod_item(href='img/wine/37-min-1152x768.jpg')
                             img(src='img/wine/37-min-1152x768.jpg')
                         a.img_prod_item(href='img/wine/100-1152x768.jpg')
                             img(src='img/wine/100-1152x768.jpg')

                 .production_item_result__wrapper.burg
                     .production_item_result__info
                         p Требования к таре и процессу транспортировки вина заключаются в необходимости сохранения продукта и его главных потребительских свойств, а также возможности уменьшить транспортные расходы.
                          |При транспортировке вина в бутылках сроком доставки от 20 до 45-ти дней, бутылки размещают в горизонтальном положении, чтобы внутренняя часть пробки обязательно соприкасалась с жидкостью. Это препятствует проникновению кислорода и последующему окислению вина

                         .table__wrapper
                             table
                                 tr
                                     td № поддона
                                     td Размер ячейки, мм
                                     td Кол-во ячеек в поддоне
                                     td Кол-во поддонов в ящике
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                     .img_prod.owl-carousel
                         a.img_prod_item(href='img/wine/100-1152x768.jpg')
                             img(src='img/wine/100-1152x768.jpg')
                         a.img_prod_item(href='img/wine/99-1152x768.jpg')
                             img(src='img/wine/99-1152x768.jpg')
                         a.img_prod_item(href='img/wine/941-1147x768.jpg')
                             img(src='img/wine/941-1147x768.jpg')
                         a.img_prod_item(href='img/wine/37-min-1152x768.jpg')
                             img(src='img/wine/37-min-1152x768.jpg')

                 .production_item_result__wrapper.alz
                     .production_item_result__info
                         p Требования к таре и процессу транспортировки вина заключаются в необходимости сохранения продукта и его главных потребительских свойств, а также возможности уменьшить транспортные расходы.
                             | При транспортировке вина в бутылках сроком доставки от 20 до 45-ти дней, бутылки размещают в горизонтальном положении, чтобы внутренняя часть пробки обязательно соприкасалась с жидкостью. Это препятствует проникновению кислорода и последующему окислению вина
                         .table__wrapper
                             table
                                 tr
                                     td № поддона
                                     td Размер ячейки, мм
                                     td Кол-во ячеек в поддоне
                                     td Кол-во поддонов в ящике
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                     .img_prod.owl-carousel
                         a.img_prod_item(href='img/wine/product_type__3_product_1-1057x1080.jpg')
                             img(src='img/wine/product_type__3_product_1-1057x1080.jpg')
                         a.img_prod_item(href='img/wine/103-1-1152x768.jpg')
                             img(src='img/wine/103-1-1152x768.jpg')
                         a.img_prod_item(href='img/wine/95-1022x768.jpg')
                             img(src='img/wine/95-1022x768.jpg')
                         a.img_prod_item(href='img/wine/35-min-1152x768.jpg')
                             img(src='img/wine/35-min-1152x768.jpg')
                 .production_item_result__wrapper.bordo
                     .production_item_result__info
                         p Требования к таре и процессу транспортировки вина заключаются в необходимости сохранения продукта и его главных потребительских свойств, а также возможности уменьшить транспортные расходы. При транспортировке вина в бутылках сроком доставки от 20 до 45-ти дней, бутылки размещают в горизонтальном положении, чтобы внутренняя часть пробки обязательно соприкасалась с жидкостью. Это препятствует проникновению кислорода и последующему окислению вина
                         .table__wrapper
                             table
                                 tr
                                     td № поддона
                                     td Размер ячейки, мм
                                     td Кол-во ячеек в поддоне
                                     td Кол-во поддонов в ящике
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                                 tr
                                     td 88
                                     td 76-83
                                     td 22
                                     td 4
                     .img_prod.owl-carousel
                         a.img_prod_item(href='img/wine/35-min-1152x768.jpg')
                             img(src='img/wine/35-min-1152x768.jpg')
                         a.img_prod_item(href='img/wine/36-min-1152x768.jpg')
                             img(src='img/wine/36-min-1152x768.jpg')
                         a.img_prod_item(href='img/wine/37-min-1152x768.jpg')
                             img(src='img/wine/37-min-1152x768.jpg')
                         a.img_prod_item(href='img/wine/product_type__3_product_1-1057x1080.jpg')
                             img(src='img/wine/product_type__3_product_1-1057x1080.jpg')
        .block_production
            .production_item_result#melon
              .production_item_result__wrapper.melon
                 .production_item_result__info
                     p Упаковка для дынь обеспечивает производителей такими преимуществами:
                      | позволяет значительно уменьшить процент потерь при отбраковке продукта;
                      | дает возможность более длительного хранения, обеспечивая продукту свежесть и отличный товарный вид.
                     .table__wrapper
                         table
                             tr
                                 td № поддона
                                 td Размер ячейки, мм
                                 td Кол-во ячеек в поддоне
                                 td Кол-во поддонов в ящике
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                             tr
                                 td 88
                                 td 76-83
                                 td 22
                                 td 4
                 .img_prod.owl-carousel
                     a.img_prod_item(href='img/melon/13-min-1152x768.jpg')
                         img(src='img/melon/13-min-1152x768.jpg')
                     a.img_prod_item(href='img/melon/15-min-1152x768.jpg')
                         img(src='img/melon/15-min-1152x768.jpg')
                     a.img_prod_item(href='img/melon/41-min-1152x768.jpg')
                         img(src='img/melon/41-min-1152x768.jpg')
                     a.img_prod_item(href='img/melon/43-min-512x768.jpg')
                         img(src='img/melon/43-min-512x768.jpg')
            .production_item_menu
                .production_item_menu_info
                    h2 Упаковка для дынь
                    p Тенденции рынка и предпочтения потребителей на сегодняшний день требуют от производителей упаковку, которая объединяла бы две важные задачи – соответствие экологическим стандартам и сохранение потребительских качеств продукта.
                .production_item_menu__wrapper
                    a(href='#melon').production_item
                        .production_item_info
                            h5 Упаковка для дынь
                            p Упаковки из биоразлагаемого экологически безопасного материала

                        img(src='img/melon/41-min-150x150.jpg')

                .contack_block
                    .contack_block_item
                        h5 Сапельников Ян
                        span +380 (50) 990 20 17
                        span sapelnikov@ztkk.net.ua
        .block_production
            .production_item_menu
                .production_item_menu_info
                    h2 Другие виды упаковки
                    p Мы разрабатываем упаковку под любые продукты и потребности.
                .production_item_menu__wrapper
                    a(href='#other').production_item
                        .production_item_info
                            h5 Упаковка для прочих овощей и фруктов
                            p Экологически чистая и безопасная упаковка из литой тары для фруктов и овощей разного типа
                        img(src='img/other/product_type__thumb_5-150x150.jpg')

                .contack_block
                    .contack_block_item
                        h5 Сапельников Ян
                        span +380 (50) 990 20 17
                        span sapelnikov@ztkk.net.ua
                    .contack_block_item
                        h5 Баркулова Татьяна
                        span +380 (95) 001 94 90
                        span barkulova@ztkk.net.ua
            .production_item_result#other
                .production_item_result__wrapper.other
                    .production_item_result__info
                        p Упаковка для продуктов питания – это, в первую очередь, вопрос безопасности для конечного
                            | потребителя. Важным так же является фактор увеличения сроков хранения при
                            | транспортировке фруктов и овощей и сохранение естественного и презентабельного внешнего
                            | вида в торговых точках. С целью удовлетворения всех перечисленных задач мы создаем
                            | экологически чистую и безопасную упаковку из литой тары для фруктов и овощей разного типа.
                            | Главные преимущества упаковки из литой тары:
                            | разнообразие форм, используемых при производстве, дает возможность подобрать тип
                            | упаковки практически под любой фрукт или овощ;
                            | отдельная ячейка для каждого продукта предотвращает контакт, что существенно
                            | увеличивает сроки хранения продуктов;
                            | натуральность и экологичность сырья в соответствии с международным стандартом FSSC
                            | 22000 обеспечивает пищевую безопасность продукта в месте соприкосновения с упаковкой.
                    .img_prod.owl-carousel
                        a.img_prod_item(href='img/other/6-1152x768.jpg')
                            img(src='img/other/6-1152x768.jpg')
                        a.img_prod_item(href='img/other/7-1152x768.jpg')
                            img(src='img/other/7-1152x768.jpg')
                        a.img_prod_item(href='img/other/16-min-1152x768.jpg')
                            img(src='img/other/16-min-1152x768.jpg')
                        a.img_prod_item(href='img/other/45-min-1152x768.jpg')
                            img(src='img/other/45-min-1152x768.jpg')
        .block_map
            img(src='img/maps.jpg')
        .section_contact
            .contact__wrapper
                .contact_item
                    h3 Упаковка для яблок
                    p Ведущие специалисты отдела продаж
                    .contact_item_last
                        h6 Трокоз Дария
                        span +380 (50) 463 86 36
                        span trokoz@ztkk.net.ua
                    .contact_item_last
                        h6 Атоян Татьяна
                        span +380 (50) 313 24 48
                        span tany@ztkk.net.ua
                    .contact_item_last
                        h6 Решетнюк Ирина
                        span +380 (95) 276 70 82
                        span sbyt_clt@ztkk.net.ua
                .contact_item
                    h3 Упаковка для ягод
                    p Ведущие специалисты отдела продаж
                    .contact_item_last
                        h6 Самсонович Катерина
                        span +380 (50) 313 37 63
                        span samsonovich@ztkk.net.ua
                    .contact_item_last
                        h6 Кучинская Мария
                        span +380 (95) 283 37 87
                        span kuchinskaya@ztkk.net.ua
                .contact_item
                    h3 Упаковка для бутылок
                    p Ведущие специалисты отдела продаж
                    .contact_item_last
                        h6 Черных Максим
                        span +380 (95) 586 66 68
                        span max@ztkk.net.ua
                .contact_item
                    h3 Упаковка для дынь
                    p Ведущие специалисты отдела продаж
                    .contact_item_last
                        h6 Сапельников Ян
                        span +380 (50) 990 20 17
                        span sapelnikov@ztkk.net.ua
                .contact_item
                    h3 Другие виды упаковки
                    p Ведущие специалисты отдела продаж
                    .contact_item_last
                        h6 Сапельников Ян
                        span +380 (50) 990 20 17
                        span sapelnikov@ztkk.net.ua
                    .contact_item_last
                        h6 Баркулова Татьяна
                        span +380 (95) 001 94 90
                        span barkulova@ztkk.net.ua
